@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwind.css';

body {
	font-family: 'Inter', sans-serif !important;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: 'slnt' 0;
	font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11' !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-optical-sizing: auto;

	background: #171719;
	color: #fff;
}

.page-container {
	@apply mx-auto w-full md:max-w-screen-sm lg:max-w-screen-xl px-5;
}

.font-mono {
	font-family: 'JetBrains Mono', monospace !important;
}

.typing {
	position: relative;

	&:after {
		content: '';
		position: absolute;

		right: -0.5rem;
		bottom: 1rem;

		width: 0.2rem;
		height: 60%;

		background-color: rgb(255, 255, 255, 0.7);

		/*
		animation: blink 1s infinite;

		border-right: rgb(255, 255, 255) 0.2rem solid;
		
		*/
		animation: blink 0.5s step-end infinite alternate;
	}
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
